<body class="template-base">
    <div class="scrim-menu">
        <div class="br-menu">
            <!-- Menu Principal-->
            <div>
                <div class="br-header" sticky>
                    <div class="container-lg">
                        <!-- Conteúdo do Header-->
                    </div>
                </div>
                <div class="container-lg">
                    <div class="row">
                        <div class="context-menu col-sm-6 col-md-4">
                            <div class="br-menu">
                                <a class="header">
                                    <div class="support"><i class="fas fa-angle-up"></i></div>
                                    <div class="content"> Menu Contextual </div>
                                </a>
                                <nav class="folders">
                                    <div class="folder">
                                        <ul>
                                            <li>
                                                <!-- Lista de links -->
                                            </li>
                                            <ul>
                                    </div>
                                </nav>
                            </div>
                        </div>
                        <div class="col container-main">
                            <ul class="br-breadcrumb">
                                <!-- Lista de links breadcrumb -->
                            </ul>
                            <!-- Conteúdo da Página -->
                        </div>
                    </div>
                </div>
                <div class="br-footer">
                    <div class="container-lg">
                        <!-- Conteúdo do Footer-->
                    </div>
                </div>
</body>